<td><input type="checkbox" <%= " id='check#{@bill.id}' value='#{@bill.id}' name='#{@bill.check_status(false)}[]'" %>/></td>
	<%= @bill.check_status(true) %>
	<td><%= @bill.object %></td>
	<td><%= @bill.price %></td>
	<td <%= "id='penalty#{@bill.id}'"%>><%= link_to_remote(number_with_precision(@bill.penalty_total,2),
																												:before => "$('loader#{@bill.id}').show()",
																												:update => 'penalties'+@bill.id.to_s,
																												:url => {:controller => 'finances', :action => 'show_penalty_history', :id => @bill.id},
																												:complete => "$('penalties#{@bill.id}').show();$('loader#{@bill.id}').hide()",
																												:failure => "alert('error')")  if (@bill.deadline < MyDate.today) %></td>
	<td><%= @bill.belongs_to %></td>
	<td><%= "#{@bill.groupp}(#{@bill.category})" %></td>
	<td><%= MyDate.date_at(@bill.deadline.to_i) %></td>
	<td><%= link_to_remote(get_string(:Pay),
				 :before => "$('check#{@bill.id}').checked = true;$('loader#{@bill.id}').show()",
				 :update => @bill.id,
				 :url => {:controller => 'finances', :action => 'date_select', :id => @bill.id},
				 :after => "$('loader#{@bill.id}').hide()") if @bill.paid == 0 %>
			<%= MyDate.date_at(@bill.paid) if @bill.paid > 0 %>
	</td>
	<td id="loader<%= @bill.id %>" style="display: none"><img src="/images/ajax_loaders/ajax_blue.gif"/></td>
	<td>
		<%= link_to_remote(image_tag('icons/green_flag.png', {:style => "border: none", :title => get_string(:User_paid)}),
											:before => "$('loader#{@bill.id}').show(); $('paid#{@bill.id}').show()",
											:update => 'paid'+@bill.id.to_s,
											:url => {:controller => 'finances', :action => 'show_temp_bills', :id => @bill.id},
											:complete => "$('loader#{@bill.id}').hide()",
											:failure => "alert('error')")  if (@bill.temp_bills != []) %></td>													 
	</td>
	<td>
		<%= link_to_function(image_tag('icons/note_small.png', :title => get_string(:Notes)),"$('notes#{@bill.id}').toggle()") if @bill.notes != [] %>
	</td>
	<td><% link_to(image_tag("/images/icons/pencil_small.png", {:style => "border: none", :title => get_string(:Edit)}),
									:action => 'edit_bill', :id => @bill.id) %>
			<%= link_to_remote(image_tag("/images/icons/pencil_small.png"),
													:before => "moveIt($('bill_edit'),event.y+'px',event.x+25+'px');$('loader#{@bill.id}').show(),$('bill_edit').show()",
													:update => "bill_edit",
													:url => {:controller => 'finances', :action => 'edit_bill', :id => @bill.id},
													:failure => "alert('ERROR')",
													:complete => "$('loader#{@bill.id}').hide()") %>
	</td>
	<td>
		<%= link_to_remote(image_tag("icons/red_cross_small.png", {:style => "border: none", :title => get_string(:Delete)}),
												:before => "",
												:confirm => "#{get_string(:Delete_bill?)}",
												:url => {:controller => 'finances', :action => 'delete_bill', :id => @bill.id},
												:complete => "",
												:failure => "alert('ERROR')") %>
	</td>